.thead {
  width: 98.9%;
  display: table;
  table-layout: fixed;
}

.tbody {
  display: block;
  max-height: 640px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tr {
  width: 99.8%;
  display: table;
  table-layout: fixed;
}
